<form [formGroup]="signupForm" novalidate (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="firstName">First name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        placeholder
        value=""
        formControlName="firstName"
        [ngClass]="{ 'is-invalid': submitted && s.firstName.errors }"
      />
      <div *ngIf="submitted && s.firstName.errors" class="invalid-feedback">
        <div *ngIf="s.firstName.errors.required">First Name is required</div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <label for="lastName">Last name</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        placeholder
        value=""
        formControlName="lastName"
        [ngClass]="{ 'is-invalid': submitted && s.lastName.errors }"
      />
      <div *ngIf="submitted && s.lastName.errors" class="invalid-feedback">
        <div *ngIf="s.lastName.errors.required">Last Name is required</div>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="username">Username</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">@</span>
      </div>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="Username"
        formControlName="userName"
        [ngClass]="{ 'is-invalid': submitted && s.userName.errors }"
      />
      <div *ngIf="submitted && s.userName.errors" class="invalid-feedback">
        <div *ngIf="s.userName.errors.required">Username is required</div>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="email">Email <span class="text-muted">(Optional)</span></label>
    <input type="email" class="form-control" id="email" placeholder="you@example.com" formControlName="email" />
  </div>

  <div class="mb-3">
    <label for="address">Address</label>
    <input
      type="text"
      class="form-control"
      id="address"
      placeholder="1234 Main St"
      formControlName="address1"
      [ngClass]="{ 'is-invalid': submitted && s.address1.errors }"
    />
    <div *ngIf="submitted && s.address1.errors" class="invalid-feedback">
      <div *ngIf="s.address1.errors.required">Address is required</div>
    </div>
  </div>

  <div class="mb-3">
    <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
    <input type="text" class="form-control" id="address2" placeholder="Apartment or suite" formControlName="address2" />
  </div>

  <div class="row">
    <div class="col-md-5 mb-3">
      <label for="country">Country</label>
      <select
        class="custom-select d-block w-100"
        id="country"
        formControlName="country"
        [ngClass]="{ 'is-invalid': submitted && s.country.errors }"
      >
        <option value="">Choose...</option>
        <option>United States</option>
      </select>
      <div *ngIf="submitted && s.country.errors" class="invalid-feedback">
        <div *ngIf="s.country.errors.required">Country is required</div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <label for="state">State</label>
      <select
        class="custom-select d-block w-100"
        id="state"
        formControlName="state"
        [ngClass]="{ 'is-invalid': submitted && s.state.errors }"
      >
        <option value="">Choose...</option>
        <option>Texas</option>
      </select>
      <div *ngIf="submitted && s.state.errors" class="invalid-feedback">
        <div *ngIf="s.state.errors.required">State is required</div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <label for="zip">Zip</label>
      <input
        type="text"
        class="form-control"
        id="zip"
        placeholder
        formControlName="zip"
        [ngClass]="{ 'is-invalid': submitted && s.zip.errors }"
      />
      <div *ngIf="submitted && s.zip.errors" class="invalid-feedback">
        <div *ngIf="s.zip.errors.required">First Name is required</div>
      </div>
    </div>
  </div>
  <hr class="mb-4" />

  <h4 class="mb-3">Payment</h4>

  <div class="d-block my-3">
    <div class="custom-control custom-radio">
      <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked />
      <label class="custom-control-label" for="credit">Credit card</label>
    </div>

    <div class="custom-control custom-radio">
      <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" />
      <label class="custom-control-label" for="debit">Debit card</label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="cc-name">Name on card</label>
      <input
        type="text"
        class="form-control"
        id="cc-name"
        placeholder
        formControlName="cardName"
        [ngClass]="{ 'is-invalid': submitted && s.cardName.errors }"
      />
      <small class="text-muted">Full name as displayed on card</small>
      <div *ngIf="submitted && s.cardName.errors" class="invalid-feedback">
        <div *ngIf="s.cardName.errors.required">Full name as displayed on card is required</div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <label for="cc-number">Credit card number</label>
      <input
        type="text"
        class="form-control"
        id="cc-number"
        placeholder
        formControlName="cardNumber"
        [ngClass]="{ 'is-invalid': submitted && s.cardNumber.errors }"
      />
      <div *ngIf="submitted && s.cardNumber.errors" class="invalid-feedback">
        <div *ngIf="s.cardNumber.errors.required">Card number is required</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mb-3">
      <label for="cc-expiration">Expiration</label>
      <input
        type="text"
        class="form-control"
        id="cc-expiration"
        placeholder
        formControlName="cardExpiration"
        [ngClass]="{ 'is-invalid': submitted && s.cardExpiration.errors }"
      />
      <div *ngIf="submitted && s.cardExpiration.errors" class="invalid-feedback">
        <div *ngIf="s.cardExpiration.errors.required">Expiration date is required</div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <label for="cc-expiration">CVV</label>
      <input
        type="text"
        class="form-control"
        id="cc-cvv"
        placeholder
        formControlName="cardCVV"
        [ngClass]="{ 'is-invalid': submitted && s.cardCVV.errors }"
      />
      <div *ngIf="submitted && s.cardCVV.errors" class="invalid-feedback">
        <div *ngIf="s.cardCVV.errors.required">cvv is required</div>
      </div>
    </div>
  </div>

  <hr class="mb-4" />
  <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
  <div *ngIf="submitted" class="d-flex justify-content-center" (click)="fillForms()">
    <button type="button" class="btn btn-primary btn-lg" style="margin-top: 1rem" ng-click="fillForms()">
      Fill Formz
    </button>
  </div>
</form>
